header {
    @include flex(space-between, row, center);
    width: 400px;
    height:200px;
    margin-top: 10px;
    background-image: url('../img/bg1.jpg');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 15px 15px 0 0;
    position: relative;
    .clear {
        position: absolute;
        right:20px;
        top: 20px;
        svg {
            width: 30px;
            height: 30px;
            color: rgb(223, 223, 223);
            &:hover {
                cursor: pointer;
                transform: rotate(45deg);
                }
            }
        }
    #date{
        position: absolute;
        bottom: 15px;
        left: 15px;
        color: $bgColor;
        font-size: 25px;
        font-family: sans-serif;
    }
}